<div class="sidebar">
  <div class="logo-details">
    <em class="bx bxl-c-plus-plus"></em>
  </div>
  <ul class="nav-links">
    <li>
      <em class="bx bx-list-ul"></em>
      <span class="links_name"><a routerLink="/inputbill">Input Bill</a></span>
    </li>
    <li>
      <em class="bx bx-list-ul"></em>
      <span class="links_name"><a routerLink="/medinfo">Medical Claims</a></span>
    </li>
    <li>
      <em class="bx bx-list-ul"></em>
      <span class="links_name"><a routerLink="/viewbill">View Bill</a></span>
    </li>
    <li>
      <em class="bx bx-list-ul"></em>
      <span class="links_name"><a routerLink="/">Logout</a></span>
    </li>
  </ul>
</div>

<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <em class="bx bx-menu sidebarBtn"></em>
      <span class="dashboard">Patient Dashboard</span>
    </div>
  </nav>
</section>
