<h1 class="title">Billing Information</h1>
<div class="table1">
  <table class="table bg-light" id="customers">
    <caption></caption>
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Disease</th>
        <th scope="col">Insurance</th>
        <th scope="col">From Date</th>
        <th scope="col">To Date</th>
        <th scope="col">Delete Bill</th>
        <th scope="col">Generate Bill</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of object">
        <td>{{ obj.patientname }}</td>
        <td>{{ obj.phone }}</td>
        <td>{{ obj.email }}</td>
        <td>{{ obj.gender }}</td>
        <td>{{ obj.disease }}</td>
        <td>{{ obj.insurance }}</td>
        <td>{{ obj.fromdate }}</td>
        <td>{{ obj.todate }}</td>
        <td>
          <button class="btn btn-danger" (click)="deletes(obj, obj)">
            Delete Bill
          </button>
        </td>
        <td>
          <button
            class="btn btn-success"
            (click)="genbillid(obj.user_id, obj.patientname)"
            routerLink="/payment"
          >
            Generate Bill
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
