<div class="container mt-5">
    <div class="card mx-auto">
        <div class="card-header">
        <h1 class="text-center text-light">Admin Login</h1>
        </div>
    <div class="card-body mx-auto">
        <form class="myform">
            <div class="field">
                <label for="patientname" class="text-light">Username :</label>
                <input type="text" name="patientname" class="form-control" id="patientname" placeholder="Enter your username">
            </div>

            <div class="field">
                <label for="password" class="text-light">Password :</label>
                <input type="password" name="password" id="password" placeholder="********" class="form-control">
            </div>

            <div class="buttons text-center">
                <button id="btn" class="btn btn-dark">Login</button>
            </div>
    </form>
    </div>

    </div>
</div>
