<div class="container mt-5">
  <div class="card mx-auto">
    <div class="card-header">
      <h1 class="text-center text-light">Admin Login</h1>
    </div>

    <div class="card-body mx-auto">
      <form class="myform" [formGroup]="adminform">
        <div class="field">
          <label for="adminname" class="text-light">Username :</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            id="adminname"
            placeholder="Enter your username"
            minlength="3"
            pattern="^[A-Za-z]*[0-9]*[A-Za-z]"
          />
          <span
            class="text-danger"
            *ngIf="
              adminform.controls['username'].touched &&
              adminform.hasError('required', 'username')
            "
            >* Name is required!!</span
          >
          <span
          class="text-danger"
          *ngIf="adminform.hasError('minlength', 'username')"
        >
          *Character must be minimum 3 letters</span
        >
        <span
        class="text-danger"
        *ngIf="adminform.hasError('pattern', 'username')"
        >*Name Should be in String!!
      </span>
        </div>

        <div class="field">
          <label for="password" class="text-light">Password :</label>
          <input
            type="password"
            formControlName="password"
            id="password"
            placeholder="Enter your Password"
            class="form-control"
            maxlength="12"
            pattern="[A-Za-z0-9@!_]{8,}"
          />
          <span
            class="text-danger"
            *ngIf="
              adminform.controls['password'].dirty &&
              adminform.hasError('required', 'password')
            "
          >
            *Password is required!!</span
          >
          <span
          class="text-danger"
          *ngIf="adminform.hasError('pattern', 'password')"
          >*Enter Correct Password!!
        </span>
        </div>

        <div class="buttons text-center">
          <button
            id="btn"
            class="btn btn-dark"
            (click)="adminFormsData(this.adminform.value)"
            [disabled]="!adminform.valid"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
