<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AR Hospital</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin" routerLinkActive="active"
          >Admin Login</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="patient" routerLinkActive="active"
          >Patient Login</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active"
          >About Us</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" routerLinkActive="active"
          >Contact Us</a
        >
      </li>
    </ul>
  </div>
</nav>
