<div class="container mt-5">
    <div class="card mx-auto">
        <div class="card-header">
        <h1 class="text-center text-light">Patient Sign-up Form</h1>
        </div>
    <div class="card-body mx-auto">
        <form class="myform">
            <div class="field">
                <label for="patientname" class="text-light">Patient Name :</label>
                <input type="text" name="patientname" id="patientname" class="form-control" placeholder="Enter your Name here">
            </div>

            <div class="field">
                <label for="phone" class="text-light">Phone Number :</label>
                <input type="number" name="phone" id="phone" class="form-control" placeholder="Enter Mobile Number">
            </div>

            <div class="field">
                <label for="gmail" class="text-light">Gmail :</label>
                <input type="text" name="gmail" id="gmail" class="form-control" placeholder="Enter your gmail">
            </div>

            <div class="field">
                <label for="password" class="text-light">Password :</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password">
            </div>

            <div class="field">
                <label for="confirmpassword" class="text-light">Confirm Password :</label>
                <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="Enter your Confirm password">
            </div>

            <div class="buttons text-center">
                <button id="btn">Register</button>
            </div>
        </form>
    </div>

    </div>
</div>