<div class="container mt-5">
    <div class="card mx-auto">
        <div class="card-header">
        <h1 class="text-center text-light">Patient Sign-up Form</h1>
        </div>
    <div class="card-body mx-auto">
        <form class="myform">
            <div class="field">
                <label for="patientname" class="text-light">Patient Name :</label>
                <input type="text" name="patientname" id="patientname" class="form-control" placeholder="Enter your Name here">
            </div>

            <div class="field">
                <label for="age" class="text-light">Age :</label>
                <input type="number" name="age" id="age" class="form-control" placeholder="Enter your age">
            </div>

            <div class="field">
                <label for="phone" class="text-light">Phone Number :</label>
                <input type="number" name="phone" id="phone" class="form-control" placeholder="Enter Mobile Number">
            </div>

            <div class="field">
                <label for="date-of-birth" class="text-light">Date Of Birth :</label>
                <input type="date" name="dob" id="dob" class="form-control" placeholder="D.O.B">
            </div>

            <div class="field" id="check-gen">
                <label for="gender" class="text-light">Gender :</label>
                <input type="text" name="gender" id="gender" class="form-control" placeholder="Gender">
            </div>

            <div class="field">
                <label for="gmail" class="text-light">Gmail :</label>
                <input type="text" name="gmail" id="gmail" class="form-control" placeholder="Enter your gmail">
            </div>

            <div class="field">
                <label for="address" class="text-light">Address :</label>
                <input type="text" name="address" id="city" class="form-control" placeholder="Enter your Address"> 
            </div>

            <div class="field">
                <label for="city" class="text-light">City :</label>
                <input type="text" name="city" id="city" class="form-control" placeholder="City"> 
            </div>

            <div class="buttons text-center">
                <button id="btn">Register</button>
            </div>
    </form>
    </div>

    </div>
</div>