<div class="container mt-5">
  <div class="card mx-auto">
    <div class="card-header">
      <h1 class="text-center text-light">Patient Sign-up Form</h1>
    </div>
    <div class="card-body mx-auto">
      <form class="myform" [formGroup]="registerform">
        <div class="field">
          <label for="patientname" class="text-light">Patient Name :</label>
          <input
            type="text"
            formControlName="patientname"
            id="patientname"
            class="form-control"
            placeholder="Enter your Name here"
            minlength="3"
            pattern="^[A-Za-z]*[0-9]*[A-Za-z]"
          />
          <span
            class="text-danger"
            *ngIf="
              registerform.controls['patientname'].touched &&
              registerform.hasError('required', 'patientname')
            "
          >
            *Name is required!!</span
          >

          <span
            class="text-danger"
            *ngIf="registerform.hasError('minlength', 'patientname')"
          >
            *Character must be minimum 3 letters</span
          >
          <span
          class="text-danger"
          *ngIf="registerform.hasError('pattern', 'patientname')"
          >*Name Should be in Alphabets!!
        </span>
        </div>

        <div class="field">
          <label for="phone" class="text-light">Phone Number :</label>
          <input
            type="text"
            formControlName="phone"
            id="phone"
            class="form-control"
            placeholder="Enter Mobile Number"
            minlength="10"
            maxlength="10"
            pattern="^[+0]{0,2}(91)?[0-9]{10}$"
          />
          <span
            class="text-danger"
            *ngIf="
              registerform.controls['phone'].touched &&
              registerform.hasError('required', 'phone')
            "
          >
            *Enter your Phone Number!!</span
          >

          <span
            class="text-danger"
            *ngIf="registerform.hasError('pattern', 'phone')"
          >
            *Phone Number must be in minimum 10 Digits!!</span
          >
        </div>

        <div class="field">
          <label for="gmail" class="text-light">Gmail :</label>
          <input
            type="text"
            formControlName="email"
            id="gmail"
            class="form-control"
            placeholder="Enter your Email"
            pattern="^([\w]*[\w\.]*(?!\.)@gmail.com)"
          />
          <span
            class="text-danger"
            *ngIf="
              registerform.controls['email'].touched &&
              registerform.hasError('required', 'email')
            "
            >*Enter your Email</span
          >

          <span
            class="text-danger"
            *ngIf="registerform.hasError('pattern', 'email')"
            >*Email pattern is invalid!!
          </span>
        </div>

        <div class="field">
          <label for="password" class="text-light">Gender :</label>
          <input
            type="text"
            formControlName="gender"
            id="gender"
            class="form-control"
            placeholder="Enter your Gender"
            minlength="3"
          />
          <span
            class="text-danger"
            *ngIf="
              registerform.controls['gender'].touched &&
              registerform.hasError('required', 'gender')
            "
          >
            *Enter your Gender!!</span
          >
          <span
          class="text-danger"
          *ngIf="registerform.hasError('minlength', 'gender')"
        >
          *Character must be minimum 3 letters</span
        >
        </div>

        <div class="field">
          <label for="password" class="text-light">Password :</label>
          <input
            type="password"
            formControlName="password"
            id="password"
            class="form-control"
            placeholder="Enter your password"
            maxlength="12"
            pattern="[A-Za-z0-9@!_]{8,}"
          />
          <span
            class="text-danger"
            *ngIf="
              registerform.controls['password'].touched &&
              registerform.hasError('required', 'password')
            "
          >
            *Enter your Password!!</span
          >
          <span
            class="text-danger"
            *ngIf="registerform.hasError('pattern', 'password')"
            >*Week Password!!
          </span>
        </div>

        <div class="field">
          <label for="confirmpassword" class="text-light"
            >Confirm Password :</label
          >
          <input
            type="password"
            formControlName="confirmpassword"
            id="confirmpassword"
            class="form-control"
            placeholder="Enter your Confirm password"
            maxlength="12"
            pattern="[A-Za-z0-9@!_]{8,}"
          />
          <span
            class="text-danger"
            *ngIf="
              registerform.controls['confirmpassword'].touched &&
              registerform.hasError('required', 'confirmpassword')
            "
          >
            *Enter your Confirm Password!!</span
          >
          <span
          class="text-danger"
          *ngIf="registerform.hasError('pattern', 'confirmpassword')"
          >*Wrong Password!!
        </span>
        </div>

        <div class="buttons text-center">
          <button id="btn" (click)="register(this.registerform.value)">
            Register
          </button>
        </div>
        <div class="signup text-center">
          <label for="signup" class="text-light"
            >Login Now
            <a routerLink="/patient" class="text-danger">Login</a></label
          >
        </div>
      </form>
    </div>
  </div>
</div>
