<section>
  <div id="slider">
    <figure>
      <img src="../../images/banner-bg.jpg" />
      <img src="../../images/istockphoto.jpg" />
      <img src="../../images/m-slide1.jpg" />
    </figure>
  </div>
  <br />
</section>

<h1 class="text1">Patient Billing Management</h1>
<img src="../../images/hospital01.jpg" class="images" />
<div class="text-container">
  <p class="text2">
    Medical Billing is the process of submitting health insurance claims on
    behalf of the patient to various health insurance payors for the purpose of
    acquiring payment for services rendered in a medical facility.
  </p>
  <p class="text3">
    A medical biller is responsible for handling and transferring patient
    information, submission of claims to insurance companies, and also ensures
    that the payments for medical services are received in a timely manner.
  </p>
</div>
