<div class="sidebar">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus"></i>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#">
        <i class="bx bx-box"></i>
        <span class="links_name"
          ><a routerLink="/details">User Details</a></span
        >
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-list-ul"></i>
        <span class="links_name"
          ><a routerLink="/billingstatus">Billing Status</a></span
        >
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-book-alt"></i>
        <span class="links_name"><a routerLink="/">Logout</a></span>
      </a>
    </li>
  </ul>
</div>

<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class="bx bx-menu sidebarBtn"></i>
      <span class="dashboard">Admin Dashboard</span>
    </div>
  </nav>
</section>
