<div class="sidebar">
  <div class="logo-details">
    <em class="bx bxl-c-plus-plus"></em>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#">
        <em class="bx bx-box"></em>
        <span class="links_name"
          ><a routerLink="/details">User Details</a></span
        >
      </a>
    </li>
    <li>
      <a href="#">
        <em class="bx bx-list-ul"></em>
        <span class="links_name"
          ><a routerLink="/billingstatus">Billing Status</a></span
        >
      </a>
    </li>
    <li>
      <a href="#">
        <em class="bx bx-book-alt"></em>
        <span class="links_name"><a routerLink="/">Logout</a></span>
      </a>
    </li>
  </ul>
</div>

<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <em class="bx bx-menu sidebarBtn"></em>
      <span class="dashboard">Admin Dashboard</span>
    </div>

    <div class="profile-details">
      <img src="../../images/profile.png" alt="profile" />
      <span class="admin_name">Akash Raja</span>
      <em class="bx bx-chevron-down"></em>
    </div>
  </nav>
</section>
