<h1 class="title">Medical Claims</h1>
<div class="table1">
  <table class="table bg-light" id="customers">
    <caption></caption>
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Disease</th>
        <th scope="col">Medical Claims</th>
        <th scope="col">Reject Request</th>
        <th scope="col">Approve Request</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of object">
        <td>{{ obj.patientname }}</td>
        <td>{{ obj.phone }}</td>
        <td>{{ obj.email }}</td>
        <td>{{ obj.gender }}</td>
        <td>{{ obj.disease }}</td>
        <td>{{ obj.medical }}</td>
        <td>
          <button class="btn btn-danger" (click)="deletes(obj, obj)">
            Reject
          </button>
        </td>
        <td>
          <button
            class="btn btn-success" routerLink="/billingstatus">
            Approve
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
