<section id="contact">
  <div class="contact container">
    <div>
      <h1 class="section-title">Feel Free To Contact Us</h1>
    </div>
    <div class="contact-items">
      <div class="contact-item">
        <div class="icon">
          <img src="../../images/contact.png" />
        </div>
        <div class="contact-info">
          <h1>Phone</h1>
          <h2>9876543210</h2>
          <h2>0452-4396631</h2>
        </div>
      </div>
      <div class="contact-item">
        <div class="icon">
          <img src="../../images/icons8-email-64.png" />
        </div>
        <div class="contact-info">
          <h1>Email</h1>
          <h2>AR_hospital@gmail.com</h2>
        </div>
      </div>
      <div class="contact-item">
        <div class="icon">
          <img src="../../images/icons8-address-64.png" />
        </div>
        <div class="contact-info">
          <h1>Address</h1>
          <h2>
            AR Hospital & Research Center 180, Anna Nagar, Chennai. Contact No -
            9876543210
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
