<section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Contact info</h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>9876543210</h2>
            <h2>044 4396 6333</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="contact-info">
            <h1>Email</h1>
            <h2>AR_hospital@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="contact-info">
            <h1>Address</h1>
            <h2>
                AR Hospital & Research Center
                180, Anna Nagar, Chennai.
                Contact No - 9876543210
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>