.card, .card-1 {
    background: hsl(205, 46%, 30%, 1);
    background: linear-gradient(
      90deg,
      rgb(108, 194, 255) 0%,
      rgb(149, 140, 169) 100%
    );
    border: none;
    width: 450px;
    margin-bottom: 1.5rem;
  }
  
  .field, .buttons
  {
      margin-top: 1rem;
  }
  
  form {
      width: 400px;
  }